.box-form-design{
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: center;
  justify-items: center;
  justify-self: center;
}
.borde-cualquiera {
  border-radius: 24px; /* Redondeo de las esquinas */
  padding: 20px; /* Espacio interno (opcional) */
  border-color: #01B667;
  border-width: 5px;
}

.img-form{
  height: 500px;
  width: 500px;
  justify-self: center;
  align-self: center;
}
.formulario{
  padding: 5%;
  width: 600px;
}

.txt-main {
  all: unset;
  color: #01B667;
  font-weight: 600;
  font-size: 30px;
  text-align: center; /* Esto asegura que el texto esté centrado */
  display: block; /* Hace que el texto se comporte como un bloque */
  margin: 0 auto; /* Asegura que el texto esté centrado en su contenedor */
}

.txt-form{
  all: unset;
  color: #01B667;
  font-weight: 600;
  font-size: 16px;
}

.img-bgA{
  z-index: -1;  
  position: absolute;
  left: 50%;
  top: -25px;
  opacity: 0.5;
  transform: rotate(45deg);
}
.img-bgB{
  z-index: -1;  
  position: absolute;
  left: -25px;
  opacity: 0.5;
  transform: rotate(45deg);
}
.img-bgC{
  z-index: -1;  
  position: absolute;
  opacity: 0.5;
  top: -25px;
  left: -60px;
  transform: rotate(140deg);
}
.img-bgD{
  z-index: -1;  
  position: absolute;
  opacity: 0.5;
  top: -60px;
  left: -50px;
  transform: rotate(140deg);
}
.img-bgE{
  z-index: -1;  
  position: absolute;
  opacity: 0.2;
  top: 220px;
  left: 120px;
  transform: rotate(140deg);
}
.img-bgF{
  z-index: -1;  
  position: absolute;
  opacity: 0.2;
  top: 444px;
  left: 444px;
  transform: rotate(140deg);
}

.img-bgA1{
  z-index: -1;  
  position: absolute;
  right: 50%;
  top: -25px;
  opacity: 0.5;
  transform: rotate(45deg);
}
.img-bgB1{
  z-index: -1;  
  position: absolute;
  right: -25px;
  opacity: 0.5;
  transform: rotate(45deg);
}
.img-bgC1{
  z-index: -1;  
  position: absolute;
  opacity: 0.5;
  top: -25px;
  right: -60px;
  transform: rotate(140deg);
}
.img-bgD1{
  z-index: -1;  
  position: absolute;
  opacity: 0.5;
  top: -60px;
  right: -50px;
  transform: rotate(140deg);
}
.img-bgE1{
  z-index: -1;  
  position: absolute;
  opacity: 0.2;
  top: 220px;
  right: 120px;
  transform: rotate(140deg);
}
.img-bgF1{
  z-index: -1;  
  position: absolute;
  opacity: 0.2;
  top: 444px;
  right: 444px;
  transform: rotate(140deg);
}
.btn-submit {
  all: unset;
  display: block; /* Cambiado de inline-block a block para que ocupe todo el ancho disponible */
  width: max-content; /* Hace que el ancho sea ajustable al contenido del botón */
  margin: 20px auto; /* Centra el botón y le da margen superior e inferior */
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  color: white;
  background-color: #01B667;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease;
  transition: all 0.3s;
}
.txt-terminos{
  color: #fff;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 5%;
}