
<!--TABLA-->
<div class="container mx-auto my-8 p-4 bg-white shadow-lg rounded-lg">
    <h2 class="text-2xl font-bold text-center text-blue-700 mb-4">Lista de Usuarios</h2>

    <div class="overflow-x-auto">
      <table class="w-full border-collapse border border-gray-200">
        <thead class="bg-blue-600 text-white">
          <tr>
            <th class="py-3 px-4 text-left">Codigo</th>
            <th class="py-3 px-4 text-left">Nombre</th>
            <th class="py-3 px-4 text-left">Correo Electrónico</th>
            <th class="py-3 px-4 text-left">Tipo de Usuario</th>
            <th class="py-3 px-4 text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
            @for (usuario of usuarios; track $index) {
          <tr class="border-b hover:bg-gray-100">
            <td class="py-2 px-4">{{ usuario.id }}</td>
            <td class="py-2 px-4">{{ usuario.nombre }}</td>
            <td class="py-2 px-4">{{ usuario.email }}</td>
            <td class="py-2 px-4">
              <span [ngClass]="{
                'bg-green-500 text-white': usuario.tipoUsuario === 'Lector',
                'bg-yellow-500 text-white': usuario.tipoUsuario === 'Autor',
                'bg-red-500 text-white': usuario.tipoUsuario === 'Administrador'
              }" class="px-3 py-1 rounded-lg text-sm">
                {{ usuario.tipoUsuario }}
              </span>
            </td>
            <td class="py-2 px-4 text-center">
              <button [routerLink]="['/usuarios',usuario.id]" type="button" class="bg-blue-500 text-white px-3 py-1 rounded-md hover:bg-blue-600 mx-1">Editar</button>
              <button (click)="eliminar(usuario.id)" type="button" class="bg-red-500 text-white px-3 py-1 rounded-md hover:bg-red-600">Eliminar</button>
            </td>
          </tr>
        }
        </tbody>
      </table>
    </div>
  </div>
