<br>
<div class="carrousel-nosotros">
  <div class="txt-nosotros-main">
    <h2>Conoce más sobre Nosotros</h2>
  </div>
  <div id="animation-carousel" class="relative w-full" data-carousel="static">
    <!-- Carousel wrapper -->
    <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
      <!-- Item 1 -->
      <div class="hidden duration-200 ease-linear" data-carousel-item>
        <img src="https://st2.depositphotos.com/3591429/5246/i/450/depositphotos_52461497-stock-photo-people-reading-books.jpg"
          class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      </div>
      <!-- Item 2 -->
      <div class="hidden duration-200 ease-linear" data-carousel-item>
        <img src="https://previews.123rf.com/images/dolgachov/dolgachov1608/dolgachov160808247/61743204-las-personas-el-conocimiento-la-educaci%C3%B3n-y-la-escuela-concepto-grupo-de-estudiantes-felices.jpg"
          class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      </div>
      <!-- Item 3 -->
      <div class="hidden duration-200 ease-linear" data-carousel-item="active">
        <img src="https://previews.123rf.com/images/andreypopov/andreypopov1808/andreypopov180801023/107017363-grupo-de-personas-sentadas-en-un-c%C3%ADrculo-leyendo-libros.jpg"
          class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      </div>
      <!-- Item 4 -->
      <div class="hidden duration-200 ease-linear" data-carousel-item>
        <img src="https://images.unsplash.com/photo-1532294220147-279399e4e00f?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8cGVyc29uYSUyMGxleWVuZG98ZW58MHx8MHx8fDA%3D"
          class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      </div>
      <!-- Item 5 -->
      <div class="hidden duration-200 ease-linear" data-carousel-item>
        <img src="https://media.istockphoto.com/id/654715790/es/foto/estudiante-en-la-biblioteca.jpg?s=612x612&w=0&k=20&c=-DWFdBWxLPBbGkGv-rEownRnwHRPRQ-z-7KxfyhEuaA="
          class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      </div>
    </div>
    <!-- Slider controls -->
    <button type="button"
      class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
      data-carousel-prev>
      <span
        class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
        <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M5 1 1 5l4 4" />
        </svg>
        <span class="sr-only">Previous</span>
      </span>
    </button>
    <button type="button"
      class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
      data-carousel-next>
      <span
        class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
        <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m1 9 4-4-4-4" />
        </svg>
        <span class="sr-only">Next</span>
      </span>
    </button>
  </div>
</div>
<div class="nosotros">
  
  <br>
  <div class="txt-nosotros-main">
    <h2>Nosotros</h2>
    <p>En 한국 선생님, creemos en el poder transformador del conocimiento. Somos una biblioteca virtual que tiene como misión acercar el aprendizaje y la cultura a personas de todas las edades, intereses y rincones del mundo. Nuestro objetivo es ofrecer recursos educativos accesibles y de alta calidad que impulsen el crecimiento personal y profesional de nuestros usuarios.</p>
    <p>Fundada con una visión global y un profundo respeto por la diversidad, 한국 선생님 reúne una amplia gama de contenidos en múltiples idiomas y disciplinas. Desde literatura clásica hasta temas contemporáneos, desde textos académicos hasta materiales interactivos, buscamos ser el puente entre el conocimiento y quienes desean alcanzarlo.</p>
    <p>Nos esforzamos por crear una experiencia enriquecedora para todos nuestros usuarios, fomentando la curiosidad, la creatividad y el deseo de aprender continuamente. En 한국 선생님, no solo ofrecemos libros; ofrecemos puertas hacia un mundo de posibilidades.</p>
  </div>

  <div class="images-home flex space-x-4">
    <figure class="relative max-w-sm transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0">
      <a href="#">
        <img class="rounded-lg object-cover w-full h-full" style="aspect-ratio: 1/1;"
          src="https://images.pexels.com/photos/3060324/pexels-photo-3060324.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="image description">
      </a>
      <figcaption class="absolute px-4 text-lg text-white bottom-6">
        <p>Perfecto para disfrutar de los mejores momentos</p>
      </figcaption>
    </figure>

    <figure class="relative max-w-sm transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0">
      <a href="#">
        <img class="rounded-lg object-cover w-full h-full" style="aspect-ratio: 1/1;"
          src="https://images.unsplash.com/photo-1573497490701-f84eda04e280?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8cGVyc29uYSUyMGxleWVuZG98ZW58MHx8MHx8fDA%3D"
          alt="image description">
      </a>
      <figcaption class="absolute px-4 text-lg text-white bottom-6">
        <p>Prueba Fanta en diferentes modelos</p>
      </figcaption>
    </figure>

    <figure class="relative max-w-sm transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0">
      <a href="#">
        <img class="rounded-lg object-cover w-full h-full" style="aspect-ratio: 1/1;"
          src="https://ellibre.es/wp-content/uploads/2025/01/gente-leyendo.jpg" alt="image description">
      </a>
      <figcaption class="absolute px-4 text-lg text-white bottom-6">
        <p>Prueba estas nuevas ediciones!</p>
      </figcaption>
    </figure>
    <figure class="relative max-w-sm transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0">
      <a href="#">
        <img class="rounded-lg object-cover w-full h-full" style="aspect-ratio: 1/1;"
          src="https://img.freepik.com/foto-gratis/vista-lateral-personas-leyendo-juntas_23-2150062161.jpg" alt="image description">
      </a>
      <figcaption class="absolute px-4 text-lg text-white bottom-6">
        <p>Prueba estas nuevas ediciones!</p>
      </figcaption>
    </figure>
  </div>
  
</div>


<img width="120" height="120" class="img-bg1"
  src="https://img.icons8.com/?size=100&id=Pa7h0WwjTpPz&format=png&color=000000" style="filter: invert(1);">
<img width="220" height="220" class="img-bg2" src="https://img.icons8.com/?size=100&id=20472&format=png&color=000000"
  style="filter: invert(1);">
<img width="220" height="220" class="img-bg3" src="https://img.icons8.com/?size=100&id=118834&format=png&color=000000"
  style="filter: invert(1);">
<img width="220" height="220" class="img-bg4" src="https://img.icons8.com/?size=100&id=118834&format=png&color=000000"
  style="filter: invert(1);">
<img width="100" height="100" class="img-bg5" src="https://img.icons8.com/?size=100&id=20472&format=png&color=000000"
  style="filter: invert(1);">
<img width="120" height="120" class="img-bg6"
  src="https://img.icons8.com/?size=100&id=Pa7h0WwjTpPz&format=png&color=000000" style="filter: invert(1);">


<img width="120" height="120" class="img-bg7"
  src="https://img.icons8.com/?size=100&id=Pa7h0WwjTpPz&format=png&color=000000" style="filter: invert(1);">
<img width="220" height="220" class="img-bg8" src="https://img.icons8.com/?size=100&id=20472&format=png&color=000000"
  style="filter: invert(1);">
<img width="220" height="220" class="img-bg9" src="https://img.icons8.com/?size=100&id=118834&format=png&color=000000"
  style="filter: invert(1);">
<img width="220" height="220" class="img-bg10" src="https://img.icons8.com/?size=100&id=118834&format=png&color=000000"
  style="filter: invert(1);">
<img width="100" height="100" class="img-bg11" src="https://img.icons8.com/?size=100&id=20472&format=png&color=000000"
  style="filter: invert(1);">
<img width="120" height="120" class="img-bg12"
  src="https://img.icons8.com/?size=100&id=Pa7h0WwjTpPz&format=png&color=000000" style="filter: invert(1);">