
<!--FORMULARIO-->
<br>
<div class="box-form-design">
<div class="flex justify-center items-center min-h-screen formulario">
  <div class="w-full max-w-md bg-white rounded-lg shadow-lg p-6 borde-cualquiera">
    <p class="txt-main mb-4">Registro de Prestamo</p>
    <p class="text-center text-gray-600 ">Accede a miles de libros digitales</p>
    
    <form (ngSubmit)="guardar(formulario)" #formulario="ngForm" class="space-y-4">

        <!-- Usuario -->

        <div>
            <label for="bibliotecario" class="block text-sm font-medium text-gray-700 txt-form">Seleccione un Usuario</label>
            <br>
            
              <select id="bibliotecario" [(ngModel)]="prestamo.bibliotecario" name="bibliotecario" class="w-full mt-1 px-4 py-2 border rounded-lg focus:ring focus:ring-blue-400">
                <option value="" disabled selected class="text-black">Usuario</option>
                @for(bibliotecario of bibliotecarios; track $index){
                  <option [ngValue]="bibliotecario">{{bibliotecario.nombre}} </option>
                }
              </select>
          </div>

      <!-- Libro -->
      <div>
        <label for="libro" class="block text-sm font-medium text-gray-700 txt-form">Seleccione un Libro</label>
        <br>
          <select id="libro" [(ngModel)]="prestamo.libro" name="libro" class="w-full mt-1 px-4 py-2 border rounded-lg focus:ring focus:ring-blue-400">
            <option value="" disabled selected class="text-black">Libro</option>
            @for(libro of libros; track $index){
              <option [ngValue]="libro">{{libro.titulo}}</option>
            }
          </select>
      </div>

      <!-- Descripcion -->
      <div>
        <label for="descripcion" class="block text-sm font-medium text-gray-700 txt-form">Descripción</label>
        <input type="text"  id="descripcion" name="descripcion" [(ngModel)]="prestamo.descripcion" class="w-full mt-1 px-4 py-2 border rounded-lg focus:ring focus:ring-blue-400" placeholder="Ej: La Única en la Tierra">
      </div>

      

      <!-- Fecha de Prestamo -->
      <div>
        <label for="fechaPrestamo" class="block text-sm font-medium text-gray-700 txt-form">Fecha de Prestamo</label>
        <input type="date" id="fechaPrestamo" name="fechaPrestamo" [(ngModel)]="prestamo.fechaPrestamo" class="w-full mt-1 px-4 py-2 border rounded-lg focus:ring focus:ring-blue-400" placeholder="0">
      </div>

      <!-- Fecha de Devolucion -->
      <div>
        <label for="fechaDevolucion" class="block text-sm font-medium text-gray-700 txt-form">Fecha de Devolución</label>
        <input type="date" id="fechaDevolucion" name="fechaDevolucion" [(ngModel)]="prestamo.fechaDevolucion" class="w-full mt-1 px-4 py-2 border rounded-lg focus:ring focus:ring-blue-400" placeholder="0">
      </div>
      

      
      
      <!-- Botón de Registro -->
      <button type="submit" class="btn-submit">
        Registrar Prestamo
      </button>
    </form>
  </div>
</div>
<img class="img-form" src="https://png.pngtree.com/png-clipart/20230328/original/pngtree-3d-open-book-icon-png-image_9007587.png" alt="image description">
</div>




<img width="120" height="120" class="img-bgA" src="https://img.icons8.com/?size=100&id=Pa7h0WwjTpPz&format=png&color=000000" style="filter: invert(1);">
<img width="220" height="220" class="img-bgB" src="https://img.icons8.com/?size=100&id=20472&format=png&color=000000" style="filter: invert(1);">
<img width="220" height="220" class="img-bgC" src="https://img.icons8.com/?size=100&id=118834&format=png&color=000000" style="filter: invert(1);">
<img width="220" height="220" class="img-bgD" src="https://img.icons8.com/?size=100&id=118834&format=png&color=000000" style="filter: invert(1);">
<img width="100" height="100" class="img-bgE" src="https://img.icons8.com/?size=100&id=20472&format=png&color=000000" style="filter: invert(1);">
<img width="120" height="120" class="img-bgF" src="https://img.icons8.com/?size=100&id=Pa7h0WwjTpPz&format=png&color=000000" style="filter: invert(1);">


<img width="120" height="120" class="img-bgA1" src="https://img.icons8.com/?size=100&id=Pa7h0WwjTpPz&format=png&color=000000" style="filter: invert(1);">
<img width="220" height="220" class="img-bgB1" src="https://img.icons8.com/?size=100&id=20472&format=png&color=000000" style="filter: invert(1);">
<img width="220" height="220" class="img-bgC1" src="https://img.icons8.com/?size=100&id=118834&format=png&color=000000" style="filter: invert(1);">
<img width="220" height="220" class="img-bgD1" src="https://img.icons8.com/?size=100&id=118834&format=png&color=000000" style="filter: invert(1);">
<img width="100" height="100" class="img-bgE1" src="https://img.icons8.com/?size=100&id=20472&format=png&color=000000" style="filter: invert(1);">
<img width="120" height="120" class="img-bgF1" src="https://img.icons8.com/?size=100&id=Pa7h0WwjTpPz&format=png&color=000000" style="filter: invert(1);">
