.login{
  flex: 1;
}
.txt-form{
  color: #01B667;
  font-weight: 600;
  font-size: 16px;
}
.txt-terminos{
  color: #fff;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 10%;
}
.main-text-2 {
  margin-top: 5%;
  font-size: 30px;
  font-weight: bold;
  color: rgb(255, 255, 255); 
  margin-bottom: 10px; 
  text-align: center;
}
.img-bg1{
  z-index: -1;  
  position: absolute;
  left: 50%;
  top: -25px;
  opacity: 0.3;
  transform: rotate(45deg);
}
.img-bg2{
  z-index: -1;
  position: absolute;
  left: -25px;
  opacity: 0.3;
  transform: rotate(45deg);
}
.img-bg3{
  z-index: -1;
  position: absolute;
  opacity: 0.3;
  top: -25px;
  left: -60px;
  transform: rotate(140deg);
}
.img-bg4{
  z-index: -1;
  position: absolute;
  opacity: 0.3;
  top: -60px;
  left: -50px;
  transform: rotate(140deg);
}
.img-bg5{
  z-index: -1;
  position: absolute;
  opacity: 0.2;
  top: 220px;
  left: 120px;
  transform: rotate(140deg);
}
.img-bg6{
  z-index: -1;
  position: absolute;
  opacity: 0.2;
  top: 444px;
  left: 444px;
  transform: rotate(140deg);
}
.img-bg7{
  z-index: -1;
  position: absolute;
  opacity: 0.3;
  top: 200px;
  right: 550px;
  transform: rotate(60deg);
}
.img-bg8{
  z-index: -1;
  position: absolute;
  opacity: 0.3;
  bottom: 400px;
  right: 200px;
  transform: rotate(60deg);
}
.img-bg9{
  z-index: -1;
  position: absolute;
  opacity: 0.4;
  top: 120px;
  right: 510px;
  transform: rotate(120deg);
}
.form-div{
  padding: 20px;
  background-color: #fff;
  border-radius: 16px;
}

.btn-submit{
  all: unset;
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  color: white;
  background-color: #01B667;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease;
  transition: all 0.3s;
}