<img width="120" height="120" class="img-bg7 hover:scale-125 transition-transform duration-300" src="https://img.icons8.com/?size=100&id=7856&format=png&color=000000" style="filter: invert(1);">
<img width="120" height="120" class="img-bg8 hover:scale-125 transition-transform duration-300" src="https://img.icons8.com/?size=100&id=7856&format=png&color=000000" style="filter: invert(1);">
<img width="80" height="80" class="img-bg9" src="https://img.icons8.com/?size=100&id=7856&format=png&color=000000" style="filter: invert(1);">
<div class="bg-home">
  <div class="container">
    <div class="text-section">
      <p class="main-text">Leer es Descubrir</p>
      <p class="sub-text">¡Si tan solo le dieras la oportunidad, encontrarás que leer te lleva a nuevos mundos con solo imaginar!</p>
    </div>
    <div class="images-home">
      <img src="https://img.freepik.com/fotos-premium/mundo-fantasia-planeta-castillo_900396-5865.jpg" alt="image description">
    </div>
  </div>
</div>

<div>
  <a href="http://localhost:4200/nosotros" class="btn-leer text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Leer más</a>
</div>
<br>
<br>
<br>
<div class="nav-redes">
  <a href="#">
    <img src="https://img.icons8.com/?size=100&id=12599&format=png&color=000000" alt="icono 1" style="filter: invert(1);">
  </a>
  <a href="#">
    <img src="https://img.icons8.com/?size=100&id=118467&format=png&color=000000" alt="icono 2" style="filter: invert(1);">
  </a>
  <a href="#">
    <img src="https://img.icons8.com/?size=100&id=32309&format=png&color=000000" alt="icono 3" style="filter: invert(1);">
  </a>
  <a href="#">
    <img src="https://img.icons8.com/?size=100&id=8824&format=png&color=000000" alt="icono 4" style="filter: invert(1);">
  </a>
  <a href="#">
    <img src="https://img.icons8.com/?size=100&id=37326&format=png&color=000000" alt="icono 5" style="filter: invert(1);">
  </a>
</div>
<br>  
<br>
<br>
<br>
<div class="tarjetas flex space-x-4">
  <div class="custom-gradient max-w-sm p-6 rounded-lg shadow-sm">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Noteworthy technology acquisitions 2021</h5>
    <p class="mb-3 font-normal text-white">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
    <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
        Read more
        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
    </a>
  </div>
  <div class="custom-gradient max-w-sm p-6 rounded-lg shadow-sm">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Noteworthy technology acquisitions 2022</h5>
    <p class="mb-3 font-normal text-white">Some amazing acquisitions reshaped the tech world in 2022. Here's the list!</p>
    <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
        Read more
        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
    </a>
  </div>
  <div class="custom-gradient max-w-sm p-6 rounded-lg shadow-sm">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Noteworthy technology acquisitions 2023</h5>
    <p class="mb-3 font-normal text-white">Discover the latest blockbuster acquisitions shaping the tech scene in 2023!</p>
    <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
        Read more
        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
    </a>
  </div>
</div>

<img width="120" height="120" class="img-bg1" src="https://img.icons8.com/?size=100&id=Pa7h0WwjTpPz&format=png&color=000000" style="filter: invert(1);">
<img width="220" height="220" class="img-bg2" src="https://img.icons8.com/?size=100&id=20472&format=png&color=000000" style="filter: invert(1);">
<img width="220" height="220" class="img-bg3" src="https://img.icons8.com/?size=100&id=118834&format=png&color=000000" style="filter: invert(1);">
<img width="220" height="220" class="img-bg4" src="https://img.icons8.com/?size=100&id=118834&format=png&color=000000" style="filter: invert(1);">
<img width="100" height="100" class="img-bg5" src="https://img.icons8.com/?size=100&id=20472&format=png&color=000000" style="filter: invert(1);">
<img width="120" height="120" class="img-bg6" src="https://img.icons8.com/?size=100&id=Pa7h0WwjTpPz&format=png&color=000000" style="filter: invert(1);">