<img width="120" height="120" class="img-bg7 hover:scale-125 transition-transform duration-300" src="https://img.icons8.com/?size=100&id=7856&format=png&color=000000" style="filter: invert(1);">
<img width="120" height="120" class="img-bg8 hover:scale-125 transition-transform duration-300" src="https://img.icons8.com/?size=100&id=7856&format=png&color=000000" style="filter: invert(1);">
<img width="80" height="80" class="img-bg9" src="https://img.icons8.com/?size=100&id=7856&format=png&color=000000" style="filter: invert(1);">
<div class="bg-home">
  <div class="container">
    <div class="text-section">
      <p class="main-text">Leer es Descubrir</p>
      <p class="sub-text">¡Si tan solo le dieras la oportunidad, encontrarás que leer te lleva a nuevos mundos con solo imaginar!</p>
    </div>
    <div class="images-home">
      <img src="https://img.freepik.com/fotos-premium/mundo-fantasia-planeta-castillo_900396-5865.jpg" alt="image description">
    </div>
  </div>
</div>

<div>
  <a href="http://localhost:4200/nosotros" class="btn-leer text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Leer más</a>
</div>
<br>
<br>
<br>
<div class="nav-redes">
  <a href="https://github.com/CrasherG4" (click)="login()">
    <img src="https://img.icons8.com/?size=100&id=12599&format=png&color=000000" alt="icono 1" style="filter: invert(1);">
  </a>
  <a href="https://github.com/CrasherG4" (click)="logout()">
    <img src="https://img.icons8.com/?size=100&id=118467&format=png&color=000000" alt="icono 2" style="filter: invert(1);">
  </a>
  <a href="#">
    <img src="https://img.icons8.com/?size=100&id=32309&format=png&color=000000" alt="icono 3" style="filter: invert(1);">
  </a>
  <a href="#">
    <img src="https://img.icons8.com/?size=100&id=8824&format=png&color=000000" alt="icono 4" style="filter: invert(1);">
  </a>
  <a href="#">
    <img src="https://img.icons8.com/?size=100&id=37326&format=png&color=000000" alt="icono 5" style="filter: invert(1);">
  </a>
</div>
<br>  
<br>
<br>
<br>
<div class="tarjetas flex space-x-4">
  <div class="custom-gradient max-w-sm p-6 rounded-lg shadow-sm">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Registrate</h5>
    <p class="mb-3 font-normal text-white">Registrate en nuestra página web y enterate de todas las novedades que llegarán próximamente!</p>
    <a href="http://localhost:4200/usuarios" class="btn-tarjetas">
      <p>Dirigir</p>
  </a>
  </div>
  <div class="custom-gradient max-w-sm p-6 rounded-lg shadow-sm">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Nosotros</h5>
    <p class="mb-3 font-normal text-white">Conoce más sobre nosotros y conoce mucho más sobre lo que nos dedicamos, en resumen, creemos mucho en tu entretenimiento a largo plazo</p>
    <a href="http://localhost:4200/nosotros" class="btn-tarjetas">
      <p>Dirigir</p>
  </a>
  </div>
  <div class="custom-gradient max-w-sm p-6 rounded-lg shadow-sm">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Inicia Sesión</h5>
    <p class="mb-3 font-normal text-white">Para poder acceder a todo nuestro catálogo de libros inicia sesión para que tengas acceso a más funciones!</p>
    <a href="http://localhost:4200/login" class="btn-tarjetas">
      <p>Dirigir</p>
  </a>
  
  </div>
</div>

<img width="120" height="120" class="img-bg1" src="https://img.icons8.com/?size=100&id=Pa7h0WwjTpPz&format=png&color=000000" style="filter: invert(1);">
<img width="220" height="220" class="img-bg2" src="https://img.icons8.com/?size=100&id=20472&format=png&color=000000" style="filter: invert(1);">
<img width="220" height="220" class="img-bg3" src="https://img.icons8.com/?size=100&id=118834&format=png&color=000000" style="filter: invert(1);">
<img width="220" height="220" class="img-bg4" src="https://img.icons8.com/?size=100&id=118834&format=png&color=000000" style="filter: invert(1);">
<img width="100" height="100" class="img-bg5" src="https://img.icons8.com/?size=100&id=20472&format=png&color=000000" style="filter: invert(1);">
<img width="120" height="120" class="img-bg6" src="https://img.icons8.com/?size=100&id=Pa7h0WwjTpPz&format=png&color=000000" style="filter: invert(1);">