.bg-home {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-content: center;
  margin-top: 8%;
  padding-left: 5%;
  padding-right: 5%;
}

.container {
  display: flex;
  align-items: center;
  align-content: center;
}

.text-section {
  text-align: left;
  width: 80%;
}

.main-text {
  font-size: 120px;
  font-weight: bold;
  color: rgb(255, 255, 255); 
  margin-bottom: 10px; 
  line-height: 1;
}

.main-text-2 {
  font-size: 30px;
  font-weight: bold;
  color: rgb(255, 255, 255); 
  margin-bottom: 10px; 
  text-align: center;
}

.sub-text {
  font-size: 34px;
  color: rgb(255, 255, 255);
  width: 80%;
}
.images-home{
  width: 450px;
  height: 400px; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  overflow: hidden;
  border: 10px solid white; 
  border-radius: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); 
}

.images-home img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}
.images-home img:hover {
  width: 110%;
  height: 110%;
  object-fit: cover;
}

.btn-leer{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  margin-left: 5%;
}

.btn-leer:hover{
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.1);
}


.img-bg1{
  z-index: -1;  
  position: absolute;
  left: 50%;
  top: -25px;
  opacity: 0.5;
  transform: rotate(45deg);
}
.img-bg2{
  z-index: -1;
  position: absolute;
  left: -25px;
  opacity: 0.5;
  transform: rotate(45deg);
}
.img-bg3{
  z-index: -1;
  position: absolute;
  opacity: 0.5;
  top: -25px;
  left: -60px;
  transform: rotate(140deg);
}
.img-bg4{
  z-index: -1;
  position: absolute;
  opacity: 0.5;
  top: -60px;
  left: -50px;
  transform: rotate(140deg);
}
.img-bg5{
  z-index: -1;
  position: absolute;
  opacity: 0.2;
  top: 220px;
  left: 120px;
  transform: rotate(140deg);
}
.img-bg6{
  z-index: -1;
  position: absolute;
  opacity: 0.2;
  top: 444px;
  left: 444px;
  transform: rotate(140deg);
}
.img-bg7{
  z-index: -1;
  position: absolute;
  opacity: 0.4;
  top: 200px;
  right: 550px;
  transform: rotate(60deg);
}
.img-bg8{
  z-index: -1;
  position: absolute;
  opacity: 0.4;
  bottom: 400px;
  right: 200px;
  transform: rotate(60deg);
}
.img-bg9{
  z-index: -1;
  position: absolute;
  opacity: 0.5;
  top: 120px;
  right: 510px;
  transform: rotate(120deg);
}

.custom-gradient {
  background: linear-gradient(to bottom right, #00B566, #80EE83);
  border-color: #fff;
  border-width: 4px;
  border-radius: 16px;
}
.tarjetas{
  justify-content: center;
}
.nav-redes {
  background: linear-gradient(to bottom right, #00B566, #80EE83);
  width: 500px;
  height: 60px;
  justify-self: center;
  border-radius: 16px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  gap: 60px; 
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-redes a img {
  height: 30px; 
  width: auto; 
  transition: all 0.3s;
}

.nav-redes a img:hover {
  height: 35px; 
  width: auto; 
}
