.nav-div{
  position: fixed;
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
  width: 444px;
  height: 60px;
  bottom: 20px;
  left: 40%;
  display: flex;
  
}
.txt-nav{
  font-weight: 600;
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
  transition: all 0.3s;
  text-shadow: 2px 2px 4px black;
}

.txt-nav:hover{
  font-weight: 600;
  color: #fff;
  font-size: 24px;
  margin-top: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.txt-logo{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.btn-leer{
  font-size: 16px;
  font-weight: 800;
}