body {
  margin: 0;
  height: 100%;
  background: linear-gradient(to bottom right, #00B566, #80EE83);
  display: flex;
  font-family: Arial, sans-serif;
  justify-content: center;
  justify-items: center;
}
