<br><br>
<!--FORMULARIO-->
<div class="flex justify-center items-center min-h-screen bg-gray-100">
    <div class="w-full max-w-md bg-white rounded-lg shadow-lg p-6">
      <h2 class="text-3xl font-bold text-center text-blue-700">Actualización de Usuarios</h2>
      <p class="text-center text-gray-600 mb-4">Accede a miles de libros digitales</p>
      
      <form (ngSubmit)="editar(formulario)" #formulario="ngForm" class="space-y-4">
        <!-- Id -->
        <div>
            <input type="text"  id="id" name="id" [(ngModel)]="id" class="w-full mt-1 px-4 py-2 border rounded-lg focus:ring focus:ring-blue-400" >
          </div>

        <!-- Nombre Completo -->
        <div>
          <label for="nombre" class="block text-sm font-medium text-gray-700">Nombre Completo</label>
          <input type="text"  id="nombre" name="nombre" [(ngModel)]="nombre" class="w-full mt-1 px-4 py-2 border rounded-lg focus:ring focus:ring-blue-400" >
        </div>

        <!-- Correo Electrónico -->
        <div>
          <label for="email" class="block text-sm font-medium text-gray-700">Correo Electrónico</label>
          <input type="email"  id="email" name="email" [(ngModel)]="email" class="w-full mt-1 px-4 py-2 border rounded-lg focus:ring focus:ring-blue-400" >
        </div>

        <!-- Contraseña -->
        <div>
          <label for="password" class="block text-sm font-medium text-gray-700">Contraseña</label>
          <input type="password" id="password" name="password" [(ngModel)]="password" class="w-full mt-1 px-4 py-2 border rounded-lg focus:ring focus:ring-blue-400" >
        </div>

        <!-- Confirmar Contraseña -->
        <div>
          <label for="confirmarPassword" class="block text-sm font-medium text-gray-700">Confirmar Contraseña</label>
          <input type="confirmarPassword" id="confirmarPassword" name="confirmarPassword" [(ngModel)]="confirmarPassword" class="w-full mt-1 px-4 py-2 border rounded-lg focus:ring focus:ring-blue-400" >
        </div>
        
        <!-- Tipo de Usuario -->
        <div>
          <label for="tipoUsuario" class="block text-sm font-medium text-gray-700">Tipo de Usuario</label>
          <select type="tipoUsuario" id="tipoUsuario" name="tipoUsuario" [(ngModel)]="tipoUsuario" class="w-full mt-1 px-4 py-2 border rounded-lg focus:ring focus:ring-blue-400">
            <option value="lector">Lector</option>
            <option value="autor">Autor</option>
            <option value="administrador">Administrador</option>
          </select>
        </div>

        <!-- Términos y Condiciones -->
        <div class="flex items-center">
          <input type="checkbox" class="mr-2">
          <label class="text-sm text-gray-600">Acepto los <a href="#" class="text-blue-500 hover:underline">términos y condiciones</a></label>
        </div>

        <!-- Botón de Registro -->
        <button type="submit" class="w-full py-2 text-white bg-blue-600 rounded-lg hover:bg-blue-700 transition">
          Guardar
        </button>
      </form>
    </div>
  </div>


